@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: 'Lato', sans-serif;
  word-spacing: 0.2em;
  min-width: 450px;
  max-width: 1800px;
}

ul {
  list-style-type: none;
}

a {
  color: #2094d1;
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin: auto;
}

.header {
  background: url('../images/banner.jpg') 50% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 34.5em; 
  margin: 0;
}

.verse {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
}

.content {
  height: 45%;
  margin: 10px 0;
}

.content img {
  height: 270px;
  width: 100%;
}

.content li {
  width: 25%;
}

.footer-info {
  font-size: 0.8334em;
  margin: 0.62em;
  width: 50%;
}

.footer-info span {
  margin-left: 9.375em;
}

nav {
  background-image: url("../images/nav-background.png");
  background-repeat: no-repeat;
  height: 35px;
  border-radius: 4px;
  width: 100%;
}

nav li {
  float: left;
  margin: -6px auto;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.flex-v,
.flex-h {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
