@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: 'Lato', sans-serif;
  word-spacing: 0.2em;
  overflow-x: hidden;
  /*min-width: 1565px;*/
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #2094d1;
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin: auto;
}

.header {
  background: url('../images/banner.jpg') 50% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 0;
}

.logo-img {
  height: 20px;
  background-image: linear-gradient(to top, #838383, #54575a, #8a8a8a);
  border-radius: 100%;
}

.nav-bar ul {
  background-image: linear-gradient(to top, #838383, #54575a, #8a8a8a);
  border-radius: 5px;
  overflow: hidden;
  height: 35px;
  margin: 80px 44px 0;
}

.nav-bar li {
  float: left;
  border-right: 1px solid grey;
  position: relative;
  top: 8px;
  padding: 0 20px;
}

.nav-bar li a {
  color: #fff;
  padding: 20px;
}

.nav-item {
  border-right: none;
}

.nav-item input {
  width: 100px;
  border-radius: 10px;
  background: linear-gradient(to top, #838383, #54575a, #8a8a8a);
  background-repeat: no-repeat;
  background-position: left;
  padding-right: 0;
}

.nav-item i {
  position: relative;
  color: #fff;
  left: -95px;
  top: 2px;
}

.text-links {
  position: relative;
  top: -138px;
}

.common-text {
  color: #fff;
  position: relative;
  text-align: center;
}

.verse-text {
  top: 200px;
  font-size: 4rem;
}

.share-text {
  top: 220px;
  font-size: 2rem;
}

.watch-text {
  top: 260px;
  font-size: 1.5rem;
}

.content li {
  width: 25%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.iphone5 {
  background-image: url('../images/iphone5.jpg');
}

.iphone5c {
  background-image: url('../images/iphone5c.jpg');
}

.mac-birthday {
  background-image: url('../images/mac-birthday.jpg');
}

.supplier-responsibility {
  background-image: url('../images/supplier-responsibility.jpg');
}

.footer-info {
  font-size: 0.8334em;
  margin: 0.62em;
  width: 50%;
}

.footer-info span {
  margin-left: 1em;
}

.flex-v,
.flex-h {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
